
:root {
  --amplify-primary-color: #DA291C;
  --amplify-primary-tint: #DA291C;
  --amplify-primary-shade: #DA291C;
}

.bg-white {
  background: #ffffff;
}
.btn-bw {
  color: #ffffff;
  background-color: #da291c;
  border-bottom-color: #da291c;
}
